// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard,
.bd-edit {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.btn-clipboard,
.btn-edit {
  position: absolute;
  top: .75em;
  right: .5em;
  z-index: 10;
  display: block;
  padding: .5em .75em .625em;
  line-height: 1;
  @include font-size(.65em);
  color: $gray-900;
  background-color: $gray-100;
  border: 0;
  @include border-radius(.25rem);

  &:hover {
    color: $primary;
  }
}

.btn-edit {
  right: 3.65rem;
}
